.App {
  text-align: center;
  background: url('./canvas.jpg');
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


button{
  position: absolute;
  z-index:100;
  top:10px;
  left: 10px;
  width: 150px;
  height: 50px;
  border: none;
  background: grey;
}

#fft{
  z-index: 1000;
  position: absolute;
  bottom: 100px;
  left: 100px;
}